body{
    background:#fff;
}
input,select{
    padding: 5px;
    margin: 10px 0px 10px 0px;
    border: 1px solid #fcb315;
    border-radius: 50px;
}
select,input{
    width: 350px;
}
input[type="radio"]{
    width: 50px;
}
label,button{
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #313131;
}
*:focus{
    outline:none
}
.mt-30{
    margin-top: 30px;
}
.full-width{
    width: 100%;
}
h3{
    padding-top: 30px;
    color: #fcb315;
    padding-bottom: 30px;

}
h6,h2,h4{
    color: #fcb315;
    padding-top: 5px;
}
.mr-30{
    margin-right: 30px;
}

button{
    width: 100px;
    padding: 10px;
    border: 1px solid #fcb315;
    border-radius: 25px;
    margin-right: 25px;
    margin-left: 25px;
    color: #fcb315;
    background-color: #fff;
}

label span{
    color: #ff0000;
}
li{
    list-style: none;
}
a,a:hover{
    text-decoration: none;
}
p{
    font-size: 15px;
}
.tree_menu_main_sub li a{
    background: #fcb315;
    display: block;
    font-size: 15px;
    text-transform: capitalize;
    font-family: Arial;
    min-height: 30px;
    line-height: 30px;
    padding-left: 20px;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-weight: 500;
}
.tree_menu_main_sub li a:hover{
    background: #fff;
    color: #fcb315;
}

li i.fa{
    font-size: 14px;
    color: #fcb315;
}
table{
    border: 1px solid #fcb315;
}
td{
    padding: 10px;
    font-size: 14px;
}
ul{
    padding-left: 0;
    margin-bottom: 8px;
}
p{
    margin-bottom: 8px;
}
h2{
    padding-bottom: 10px;
}
.border-bottom{
    border-bottom: 1px solid #fcb315 !important;
}