body{
    background:#fff;
}
input,select{
    padding: 5px;
    margin: 10px 0px 10px 0px;
    border: 1px solid #dc3545;
    border-radius: 50px;
}
select,input{
    width: 350px;
}
input[type="radio"]{
    width: 50px;
}
label,button{
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #313131;
}
*:focus{
    outline:none
}
.mt-30{
    margin-top: 30px;
}
.mt-45{
    margin-top: 45px;
}
.full-width{
    width: 100%;
}
h3{
    padding-top: 20px;
    padding-bottom: 20px;

}
h6,h4{
    color: #dc3545;
    padding-top: 5px;
}
.mr-30{
    margin-right: 30px;
}

button{
    width: 100px;
    padding: 10px;
    border: 1px solid #fcb315;
    margin-right: 25px;
    margin-left: 25px;
    color: #fff;
    background-color: #fcb315;
    margin-bottom: 20px;
    font-weight:700;
    text-transform: uppercase;
}

label span{
    color: #dc3545;
}
li{
    list-style: none;
}
.course-details td ul li{
    list-style: circle;
}
.course-details td ol li{
    list-style: upper-roman;
}
a,a:hover{
    text-decoration: none;
}
p{
    font-size: 15px;
}
.tree_menu_main_sub li a{
    background: #fcb315;
    display: block;
    font-size: 15px;
    text-transform: capitalize;
    font-family: Arial;
    min-height: 30px;
    line-height: 30px;
    padding-left: 20px;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-weight: 500;
}
.tree_menu_main_sub li a:hover{
    background: #fff;
    color: #fcb315;
}

li i.fa{
    font-size: 14px;
    color: #dc3545;
}
table{
    border: 1px solid #dc3545;
}
td{
    padding: 10px;
    font-size: 14px;
}
ul{
    margin-bottom: 8px;
}
p{
    margin-bottom: 8px;
}
h2{
    padding-bottom: 10px;
}
.border-bottom{
    border-bottom: 1px solid #dc3545 !important;
}

button:focus {
    outline: none; 
}
#company_info{
    display: flex;
}

.error{
    color:red;
    display: block;
}
.input_holder input{
    border: none;
}
.w-150{
    width: 150px;
}
.w-300{
    width: 300px;
}