# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\seip-laravel-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
